.header{
    display: flex;
    background-color: black;
    color: white;
    padding: 15px;
    justify-content: space-evenly;
}
.header #farmerhead{
    text-align: center;
    align-items: center;
}
.header #buyerhead{
    text-align: center;
    align-items: center;
}
.header #loginhead{
    text-align: center;
    align-items: center;
}
.loginpage{
    font-family: Arial, Helvetica, sans-serif;
    width: 50vw;
}

body{

justify-self: center;

margin-top: 40vh;

}
.main{
    justify-items: center;

}
.main div{
    margin-top: 20px;
}
.change{
    color: red;
    outline-color: red;
}
.change2{
    color: rgb(34, 185, 7);
    outline-color: rgb(29, 189, 15);
}

.regfarmer.regbuyer,.loginbutton{
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: greenyellow;
    box-shadow: 1px 1px 5px rgb(165, 205, 8);

}